@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f2;
}
.image-banner {
  object-fit: cover;
  width: 1600px;
  height: 450px;
  padding-top: 20px;
}
.products-row {
  max-width: 1600px;
  padding: 50px 50px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.image-page img {
  width: 260px;
  height: 240px;
  object-fit: cover;
}
.image-page:hover img{
  opacity: 0.3;
  transition: 0.3s;
}
.info-page {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
}
.info-page span {
  display: block;
  text-align: center;
  color: #504e4e;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  font-family: 'Akshar', sans-serif; 
}

.name-page {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  font-family: 'Akshar', sans-serif; 
}

.price-page {
  font-size: 0.8rem;
  margin: 0;
  font-family: 'Akshar', sans-serif; 
}
.item-page {
    background-color: white;
    margin: 20px;
    width: 10px;
    padding: 10px;
    width: 280px;
    height: 432px;
    border-radius: 16px;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adicionar{
    width: 80%;
    padding: 11px;
    color: #504e4e;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 100px 100px 100px 100px;
    transition: all, 240ms ease-in-out;
    background: #F9DCDF;
    margin-bottom: 15px; 
    font-family: 'Akshar', sans-serif; 
    cursor: pointer;
}
.category{
  width: 1600px;
  height: 400px;
  margin-top: 40px;
  background-color: white;
  font-family: 'Ms Madi', cursive;
  color: #504e4e;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
justify-content: center;
font-size: 180px;
}
.category p{
  margin: 0;
  margin-right: 50px ;
}

@media screen and (max-width: 1470px) {
    .category {
        width: 1300px;
      }
  } 
   @media screen and (max-width: 1250px) {
    .category {
        width: 1100px;
        height: 280;
      }
  }
  @media screen and (max-width: 966px) {
    .category {
        width: 950px;
        height: 280px;
      }
      .image-page:hover img{
        opacity: 0.3;
        transition: 0.3s;
      }
  }
  @media screen and (max-width: 666px) {
    .category{
        width: 400px;
        height: 180px;
      }
      .image-page:hover img{
        opacity: 0.3;
        transition: 0.3s;
      }
  }
  @media screen and (max-width: 400px) {
    .category {
      width: 361px;
      height: 157px;
      font-size: 60px;
      }
      .item-page {
        background-color: white;
        margin: 20px;
        width: 10px;
        padding: 10px;
        width: 208px;
        height: 382px;
        border-radius: 16px;
        flex: none;
    }
    .image-page img {
      width: 189px;
      height: 200px;
      object-fit: cover;
  }
  .price-page{
    padding: 0;
  }
  .image-page:hover img{
    opacity: 0.3;
    transition: 0.3s;
  }
  }
