@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

.header {
    font-family: 'Allison', cursive;
}
.header-black{
    background-color: rgb(209, 198, 198);
    height: 80px;
    width: 100%;
}