/*Arrumar: Que fonte é essa Allison? Vamos usar qual?*/

/* @import url('https://fonts.googleapis.com/css2?family=Allison&display=swap'); */

.header {
    font-family: 'Allison', cursive;
}
.header-black{
    background-color: #000;
    height: 150px;
    width: 100%;
    color: white;
}